/*
Author: Nyosha Homicil
Date: 3/4/23
File: styles.css
*/

/*CSS Reset*/
body, header, nav, main, footer, h1{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #FFA372; 
}

img {
    max-width: 100%;
    display: block; 
}

/* Style Rules for Header */
header {  
    background-color: #ED6663;
    height: 25px;
    text-align: left;
    padding: 2em;
}

header h1{
    color: #FFA372;
    font-size: 4em;
    @font-face {
        font-family: ;
        src: url();
    }
    text-align: center;
    padding: 0em 1em 1em 1em;

}

/* Style Rules for Nav Area */
nav {
    padding: 3em;
    margin: auto;
    background-color: rgb(160, 58, 211);
}

nav ul {
    float: right;
    margin: 1em 1em 1em 1em;
}

nav li {
    list-style-type: none;
    font-size: 2em;
    font-family: 'Staatliches', cursive;
    float: left;
}

nav li a{
    display: block;
    color: #ED6663;
    padding: .5em 2em;
    text-decoration: none;  
}

.logo-header{
    font-size: 3em;
    
}