/*
Author: Nyosha Homicil
Date: 3/4/23
File: styles.css
*/

/*CSS Reset*/
body, header, nav, main, footer, h1{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #FFA372; 
}

img {
    max-width: 100%;
    display: block; 
}

@font-face {
    font-family: planetLight;
    src: url('optiplanet-light.otf');
    font-weight: normal;
    font-style: normal;
}

/* Style Rules for Header */
header {  
    background-color: #ED6663;
    height: 25px;
    text-align: left;
    padding: 1em 0px 60px 0px;
}

header h1{
    font-family: planetLight;
    color: #FFA372;
    font-size: 4em;
    text-align: center;
    padding: 0em 1em 1px 1em;

}

/* Style Rules for Nav Area */
nav {
    padding: 1px 1em 1px 1em;
    margin: 1px 0em 2em 0px;
}

nav ul {
    float: right;
    margin: 1px 3em 1px 1px;
}

nav li {
    font-family: planetLight ;
    list-style-type: none;
    font-size: 2em;
    float: left;
}

nav li a{
    display: block;
    color: #ED6663;
    padding: .5em 2em;
    text-decoration: none;  
}

.logo-header{
    font-size: 3em;
    
}